<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Jack's DFS Website</title>
</head>
<body>
    {% for mesg in get_flashed_messages() %}
      <h3 id='hide-me'>{{ mesg }}</h3>
      {% endfor %}
    <h2>Everything Prizepicks!</h2>
    <input type="text" id="text" placeholder="Enter player">
    <div class="container">
        <button type="submit" onclick="addText()" class="btn">Submit</button>
        <button type="submit" onclick="deleteWord()"class="btn">Delete</button>
        <button type="submit" onclick="deleteAll()"class="btn">Delete All</button>
    </div>
    <div class="big-container">
        <div class="container-players">List of Players
            <div id="result-text"></div>
        </div>
        <div class="container-combos">Combinations
            <div id="comboContainer"></div>
        </div>
    </div>
    <form action="/upload" method="POST" enctype="multipart/form-data" id="upload">
        <label for="file">File:</label>
        <input type="file" id="file" name="file" title="Must be a CSV file and contain a column with [Name] and [fpts]"><br />
        <button>Upload CSV</button>
    </form>
    <div class="diff-container">
        <button id = "prizepicks-btn"onclick="window.location.href='{{url_for('download')}}'">Download Prizepicks Data</button>
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
    </div>
    <script src="{{url_for('static', filename='prizepick.js')}}"></script>
</body>
</html>