<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <h2>Add Array</h2>
    <p>
        <input type="text" id="text" placeholder="Enter a text" />
        <button type="submit" onclick="addText()" id="submit-btn">Submit</button>
        <button type="submit" onclick="deleteWord()">Delete</button>
        <button type="submit" onclick="deleteAll()">Delete All</button>
        <div></div>
        <div id="result-text"></div>
        <h2>Combos</h2>
        <div id="comboContainer"></div>
    </p>
    <script src="{{url_for('static', filename='prizepick.js')}}"></script>
</body>
</html>